[submodule "Nasmo/vendor/glfw"]
	path = Nasmo/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Nasmo/vendor/glad"]
	path = Nasmo/vendor/glad
	url = https://github.com/premake-libs/glad.git
[submodule "Nasmo/vendor/glm"]
	path = Nasmo/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Nasmo/vendor/simdjson"]
	path = Nasmo/vendor/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "Nasmo/vendor/stb"]
	path = Nasmo/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Nasmo/vendor/imgui"]
	path = Nasmo/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Nasmo/vendor/fastgltf"]
	path = Nasmo/vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "Nasmo/vendor/poly2tri"]
	path = Nasmo/vendor/poly2tri
	url = https://github.com/jhasse/poly2tri.git
