[submodule "Nasmo/vendor/glfw"]
	path = Nasmo/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Nasmo/vendor/glad"]
	path = Nasmo/vendor/glad
	url = https://github.com/Lumis-Submodules/glad.git
[submodule "Nasmo/vendor/glm"]
	path = Nasmo/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Nasmo/vendor/simdjson"]
	path = Nasmo/vendor/simdjson
	url = https://github.com/Lumis-Submodules/simdjson
